@CHARSET "ISO-8859-1";
/* This is the general custom css file */

html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
	padding-bottom: 20px;
	padding-top:20px;
}

a{
	color:#999999;
}

a:hover{
	color:#FF6600;
}

.navbar {
	margin-bottom: 20px;
}

footer {
	
}

.topBanner{
	background-color:#FFF;
}

.topSlogan{
	padding-top:10px;
	padding-bottom:20px;
}

.catBox{
	height:220px;
}

.catBox h5.itemCounter{
	color: #FF6600;
}

.contentDisplayer{
	border-top: solid 4px #FF6600;
}

.footerContainer{
	border-top: solid 1px #FF6600;
}

.breadcrumb {
	margin-bottom: 10px;
	margin-top: -20px;
	background-color: transparent;
}

.breadcrumb > li a {
	color:#222222;
}

.breadcrumb > li a:hover {
	color:#FF6600;
}

.breadcrumb > .active {
	color: #999;
}

/*
.form-box{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#EEE;
	border:solid 4px #FFF;
	border-radius:20px;
}

.form-addItem{
}

.form-addItem input[type='text']{
	padding:6px;
	color:#555;
}

.form-addItem select{
	padding:6px;
	margin-left:10px;
	font-size:14px;
	width:300px;
}

.form-addItem select option{
	color:#555;
	font-size:14px;
}
*/

.langFlag{
	width:20px;
	margin:2px;
}

.admin-form span{
	border:none;
	background-color:transparent;
	font-size:16px;
}

.admin-menu a{
	min-width:130px;
	margin:2px;
}

.admin-menu a.actionButton{
	margin:5px;
	width:200px;
	height:80px;
	text-align:left;
}
.admin-menu a.actionButton div.icon{
	margin-top:10px;
	margin-left:140px;
	font-size:36px;
}

.admin-form div.admin-select-results{

}

.admin-date{
	color:#FF6600;
}

.admin-summary{
	color:#0099FF;
}

.favourite a{
	margin-left:15px;
}

.avatar{
	width:20px; 
	margin-right:5px;
}

.home-icons{
	width:180px;
}